.wrapper
  hello
  %p.bi.bi-trash hey
  %span how


#accordionExample.accordion
  .accordion-item
    %h2#headingOne.accordion-header
      %button.accordion-button{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-bs-target" => "#collapseOne", "data-bs-toggle" => "collapse", :type => "button"}
        Accordion Item #1
    #collapseOne.accordion-collapse.collapse.show{"aria-labelledby" => "headingOne", "data-bs-parent" => "#accordionExample"}
      .accordion-body
        %strong This is the first item's accordion body.
        It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
        = succeed "," do
          %code .accordion-body
  .accordion-item
    %h2#headingTwo.accordion-header
      %button.accordion-button.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-bs-target" => "#collapseTwo", "data-bs-toggle" => "collapse", :type => "button"}
        Accordion Item #2
    #collapseTwo.accordion-collapse.collapse{"aria-labelledby" => "headingTwo", "data-bs-parent" => "#accordionExample"}
      .accordion-body
        %strong This is the second item's accordion body.
        It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
        = succeed "," do
          %code .accordion-body
  .accordion-item
    %h2#headingThree.accordion-header
      %button.accordion-button.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-bs-target" => "#collapseThree", "data-bs-toggle" => "collapse", :type => "button"}
        Accordion Item #3
    #collapseThree.accordion-collapse.collapse{"aria-labelledby" => "headingThree", "data-bs-parent" => "#accordionExample"}
      .accordion-body
        %strong This is the third item's accordion body.
        It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
        = succeed "," do
          %code .accordion-body

:scss
  .wrapper {
    color: blue;
    p {
    color: green;
    }
    span {
    color: red;
    }
  }

